<!---------------------------------主体内容---------------------------------------------->
<div class="banner_area padding_c">
	<img src="/assets/img/frontend/banner01.png" class="img-responsive center-block">
	
	<div class="ban_quote">
		<div class="quote_area">
			<h4 class="quote_title text-center">家装快速报价</h4>
			
			<div class="quote_intro">
				<p class="text-center">报价结果</p>
				<p class="text-center">将以短信发送到您的手机</p>
			</div>
			
			<div class="quote_form">
				<form>
					<div class="form-group">
						<input type="text" class="form-control" id="quote_address" name="address" placeholder="请输入您的称呼">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="quote_phone" name="phone" placeholder="收取报价手机号码">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="quote_space" name="space" placeholder="产证面积（单位：㎡）">
					</div>
				</form>
				
				<form class="form-inline">
					<div class="form-group quote_room col-xs-4 padding_c">
						<input type="text" class="form-control roomnumber" id="quote_chamber" placeholder="几"
							   style="width: 46px;">
						<label for="quote_chamber">室</label>
					</div>
					<div class="form-group quote_room col-xs-4 padding_c">
						<input type="text" class="form-control roomnumber" id="quote_parlour" placeholder="几"
							   style="width: 46px">
						<label for="quote_parlour">厅</label>
					</div>
					<div class="form-group quote_room col-xs-4 padding_c">
						<input type="text" class="form-control roomnumber" id="quote_toilet" placeholder="几"
							   style="width: 46px">
						<label for="quote_toilet">卫</label>
					</div>
				</form>

				<a href="javascript:;" class="btn btn-default quote_sub">免&nbsp;费&nbsp;获&nbsp;取</a>
			</div>
			
			<div class="quote_user">
				<p class="text-center">已有<span style="color: #E00024;">231</span>位获取报价</p>
				
				<div class="quote_roll">
					<div class="box">
						<div class="record_list">
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;157*******0提交预约信息<span class="app_date">[07/15]</span></p>
							<p>刘**&nbsp;152*******1提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;138*******6提交预约信息<span class="app_date">[07/15]</span></p>
							<p>l**&nbsp;133*******6提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
							<p>t**&nbsp;185*******2提交预约信息<span class="app_date">[07/15]</span></p>
						</div>
					</div>
				</div>
			
			</div>
		
		</div>
	</div>
</div>

<div class="container">

	<!--岭艺个性家-->
	<div class="lis_personalink">
		<div class="personalink_title">
			<h2 class="pull-left lis_title" style=""><a href="personality.html">岭艺个性家&nbsp;/&nbsp;Lingyi Personalized house</a></h2>
			<a href="personality.html" class="pull-right">了解详情&nbsp;&gt;</a>
			<div class="clearfix"></div>
		</div>
		<a href="personality.html">
			<img src="/assets/img/frontend/personial.png" class="img-responsive center-block">
		</a>
	</div>


	<!--套餐-->
	<div class="lis_personalink">
		<div class="personalink_title">
			<h2 class="pull-left lis_title"><a href="setmeal.html">套餐&nbsp;/&nbsp;598乐享温馨家</a></h2>
			<a href="personality.html" class="pull-right">了解详情&nbsp;&gt;</a>
			<div class="clearfix"></div>
		</div>
		<a href="setmeal.html"><img src="/assets/img/frontend/setmeal.png" class="img-responsive center-block"></a>
	</div>


	<!--施工直播-->
	<div class="lis_personalink">
		<div class="personalink_title">
			<h2 class="pull-left lis_title"><a href="livecontrust.html">施工直播&nbsp;/&nbsp;Construction of live</a></h2>
			<a href="personality.html" class="pull-right">了解详情&nbsp;&gt;</a>
			<div class="clearfix"></div>
		</div>
		
		<div class="cons_live">
			<img src="/assets/img/frontend/cons_process_top.gif" class="img-responsive center-block">
			<div class="cons_process_center">
				<img src="/assets/img/frontend/cons_process_center.jpg" class="img-responsive center-block">
				<a href="#" class="left_btn btn">了解更多</a>
				<a href="#" class="right_btn btn"></a>
			</div>
			<img src="/assets/img/frontend/cons_process_bot.gif" class="img-responsive center-block">
		</div>
	</div>


	<!--设计师-->
	<div class="lis_personalink">
		<div class="personalink_title">
			<h2 class="pull-left lis_title"><a href="designer.html">设计师及完工案例</a></h2>
			<a href="personality.html" class="pull-right">了解详情&nbsp;&gt;</a>
			<div class="clearfix"></div>
		</div>
		
		<div class="desinger_case row">
			<div class="col-xs-3 gold_team">
				<img src="/assets/img/frontend/gold_team.png" class="img-responsive center-block">
				
				<div id="carousel-gold_team" class="carousel slide" data-ride="carousel" style="margin-top: -1px;">
					<div class="carousel-inner" role="listbox" style="background-color: #000;">
						<div class="item active">
							<img src="/assets/img/frontend/gold_team01.png" class="img-responsive center-block">
						</div>
						<div class="item">
							<img src="/assets/img/frontend/gold_team02.png" class="img-responsive center-block">
						</div>
						<div class="item">
							<img src="/assets/img/frontend/gold_team03.png" class="img-responsive center-block">
						</div>
					</div>
					
					<a class="left carousel-control" href="#carousel-gold_team" role="button" data-slide="prev"
					   style="top: 10%">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-gold_team" role="button" data-slide="next"
					   style="right: 0;top: 10%">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			
			<div class="col-xs-3">
				<div class="goldcase_area">
					<div class="gold_caselis text-center" style="margin-bottom: 30px">
						<img src="/assets/img/frontend/gold_case02.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="goldcase_area">
					<div class="gold_caselis text-center">
						<img src="/assets/img/frontend/gold_case05.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-3">
				<div class="goldcase_area">
					<div class="gold_caselis text-center" style="margin-bottom: 30px">
						<img src="/assets/img/frontend/gold_case03.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="goldcase_area">
					<div class="gold_caselis text-center">
						<img src="/assets/img/frontend/gold_case06.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-3">
				<div class="goldcase_area">
					<div class="gold_caselis text-center" style="margin-bottom: 30px">
						<img src="/assets/img/frontend/gold_case01.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="goldcase_area">
					<div class="gold_caselis text-center">
						<img src="/assets/img/frontend/gold_case04.png">
						<div class="gold-content">
							<h5 class="title" style="padding-top: 0">汤泉&nbsp;·&nbsp;美地城</h5>
							<ul class="goldcase_info">
								<li class="text-left"><a href="#"><p>现代简约</p></a></li>
								<li class="text-left"><a href="#"><p>别墅&nbsp;/&nbsp;联排&nbsp;/&nbsp;300㎡</p></a></li>
								<li class="text-left"><a href="#"><p>半包总价xxx</p></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--岭艺动态-->
	<div class="lis_personalink">
		<div class="personalink_title">
			<h2 class="pull-left lis_title"><a href="activity.html">岭艺动态&nbsp;/&nbsp;Lingyi Dynamic</a></h2>
			<a href="personality.html" class="pull-right">了解详情&nbsp;&gt;</a>
			<div class="clearfix"></div>
		</div>
		
		<div class="dynamic_area">
			<div class="row">
				<div class="col-xs-5" style="padding-right: 0">
					<div class="dynamic_lis">
						<a href="#"><img src="/assets/img/frontend/dynamic_img.png" class="img-responsive center-block"></a>
					</div>
				</div>
				
				<div class="col-xs-7">
					<div class="dynamic_lis dynamic_art">
						<p>/&nbsp;2018.5.20</p>
						<h2 class="margin_c"><a href="#" class="dynamic_title">深度信息化，用互联网助发展，让口碑深入人心</a></h2>
					</div>
					<div class="dynamic_lis dynamic_art">
						<p>/&nbsp;2018.5.20</p>
						<h2 class="margin_c"><a href="#" class="dynamic_title">深度信息化，用互联网助发展，让口碑深入人心</a></h2>
					</div>
					<div class="dynamic_lis dynamic_art">
						<p>/&nbsp;2018.5.20</p>
						<h2 class="margin_c"><a href="#" class="dynamic_title">深度信息化，用互联网助发展，让口碑深入人心</a></h2>
					</div>
					<div class="dynamic_lis dynamic_art" style="margin-bottom: 0">
						<p>/&nbsp;2018.5.20</p>
						<h2 class="margin_c"><a href="#" class="dynamic_title">深度信息化，用互联网助发展，让口碑深入人心</a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--岭艺优势-->
	<div class="lis_personalink margin_t">
		<div class="chuntcase_lis">
			<div class="case_list">
				<div class="case_villa">
					<div class="culture_link">
						<img src="/assets/img/frontend/culutre_link.png"
							 class="img-responsive center-block culture_icon">
						<h4 class="text-center"><a href="#">岭&nbsp;艺&nbsp;文&nbsp;化</a></h4>
					</div>
				</div>
			</div>
			
			<div class="case_list">
				<div class="case_villa">
					<div class="culture_link">
						<img src="/assets/img/frontend/competitive_link.png"
							 class="img-responsive center-block culture_icon">
						<h4 class="text-center"><a href="#">精&nbsp;品&nbsp;工&nbsp;地</a></h4>
					</div>
				</div>
			</div>
			
			<div class="case_list">
				<div class="case_villa">
					<div class="culture_link">
						<img src="/assets/img/frontend/team_link.png" class="img-responsive center-block culture_icon">
						<h4 class="text-center"><a href="#">设&nbsp;计&nbsp;团&nbsp;队</a></h4>
					</div>
				</div>
			</div>
			
			<div class="case_list">
				<div class="case_villa">
					<div class="culture_link">
						<img src="/assets/img/frontend/720_link.png" class="img-responsive center-block culture_icon">
						<h4 class="text-center"><a href="#">720&nbsp;全&nbsp;景</a></h4>
					</div>
				</div>
			</div>
			
			<div class="case_list">
				<div class="case_villa">
					<div class="culture_link">
						<img src="/assets/img/frontend/activity_link.png"
							 class="img-responsive center-block culture_icon">
						<h4 class="text-center"><a href="#">钜&nbsp;惠&nbsp;活&nbsp;动</a></h4>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		
		<img src="/assets/img/frontend/Phone.png" class="img-responsive center-block" style="margin-top: 50px">
		<h3 class="text-center"><b>联系电话</b></h3>
		<h1 class="text-center"><b>400-000-0000</b></h1>
	</div>
</div>

<div class="lis_cust">
	<div id="demo" align="center">
		<table border="0" align="center" cellpadding="0" cellspacing="0" cellspace="0">
			<tbody>
			<tr>
				<td valign="top" id="demo1">
					<table cellspacing="5" cellpadding="0">
						<tbody>
						<tr class="roll_area">
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq1.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq2.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq3.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq1.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq2.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq3.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq1.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq2.jpg"></td>
							<td class="roll_img text-center"><img src="/assets/img/frontend/jq3.jpg"></td>
						</tr>
						</tbody>
					</table>
				</td>
				<td id="demo2" valign="top"></td>
			</tr>
			</tbody>
		</table>
	</div>
	
	<script>
        var speed = 30
        demo2.innerHTML = demo1.innerHTML

        function Marquee() {
            if (demo2.offsetWidth - demo.scrollLeft <= 0)
                demo.scrollLeft -= demo1.offsetWidth
            else {
                demo.scrollLeft++
            }
        }

        var MyMar = setInterval(Marquee, speed)
        demo.onmouseover = function () {
            clearInterval(MyMar)
        }
        demo.onmouseout = function () {
            MyMar = setInterval(Marquee, speed)
        }
	</script>
</div>

<!----------------------------------固定区域--------------------------------------------->
<div class="bot_scroll navbar-inverse container-fluid navbar-fixed-bottom">
	<div class="container fix_content">
		<div class="row">
			<div class="col-xs-1">
				<img src="/assets/img/frontend/bot_scro1.gif" class="img-responsive">
			</div>
			<div class="col-xs-8">
				<form class="form-inline count_area row">
					<div class="form-group col-xs-2">
						<input type="text" class="form-control" id="iptname" placeholder="请输入您的名字" style="width: 130px">
					</div>
					<div class="form-group col-xs-2">
						<input type="text" class="form-control" id="mobile" placeholder="手机号"
							   style="width: 130px;margin-left: 8px">
					</div>
					<div class="form-group col-xs-2">
						<input type="text" class="form-control pull-right" id="space" placeholder="房产证面积"
							   style="width: 100px;margin-left: 10px;">
					</div>
					<div class="form-group col-xs-2">
						<input type="text" class="form-control" id="room" placeholder="输入数字"
							   style="width: 78px;margin-left: 5px">
						<label for="room" class="color_f" style="font-size: 18px">室</label>
					</div>
					<div class="form-group col-xs-2">
						<input type="text" class="form-control" id="toilet" placeholder="输入数字" style="width: 80px">
						<label for="toilet" class="color_f" style="font-size: 18px">卫</label>
					</div>
					<div class="col-xs-2">
						<button type="submit" class="btn search_btn sub_btn color_f"
								style="border-radius: 4px;background-color: #0099DD">开始计算报价
						</button>
					</div>
				
				</form>
			</div>
			<div class="col-xs-3">
				<img src="/assets/img/frontend/telimg.png" class="img-responsive telnum">
			</div>
		</div>
	
	</div>
</div>

<div class="rightfix_bar">
	<ul class="list-unstyled">
		<li><a href="#top"><img src="/assets/img/frontend/1.png" onmouseover="this.src='/assets/img/frontend/1_1.png'"
								onmouseout="this.src='/assets/img/frontend/1.png'" class="img-responsive center-block"></a>
		</li>
		<li><a href="#"><img src="/assets/img/frontend/2.png" onmouseover="this.src='/assets/img/frontend/2_2.png'"
							 onmouseout="this.src='/assets/img/frontend/2.png'" class="img-responsive center-block"></a>
		</li>
		<li><a href="#"><img src="/assets/img/frontend/3.png" onmouseover="this.src='/assets/img/frontend/3_3.png'"
							 onmouseout="this.src='/assets/img/frontend/3.png'" class="img-responsive center-block"></a>
		</li>
		<li><a href="#"><img src="/assets/img/frontend/4.png" onmouseover="this.src='/assets/img/frontend/4_4.png'"
							 onmouseout="this.src='/assets/img/frontend/4.png'" class="img-responsive center-block"></a>
		</li>
		<li><img style="z-index: 99999" width="100px" src="/assets/img/frontend/rightfix_ad.gif"
				 class="img-responsive center-block"></li>
	</ul>
</div>