
<div id="dialogContent">

    <div class="common-tender-wrapper">
        <div class="common-tender-popup">

            <div class="popup-main">
                <div class="popup-mfbj popup-content clearfix">

                    <div class="popup-content-left mfbj-left-init">
                        <img src="/assets/img/frontend/dingzhi_service.png" width="100%" height="100%"/>

                    </div>

                    <form id="dingzhi_service">

                        <input hidden name="type" value="dingzhi_service">

                        <div class="popup-content-right">

                        <div style="margin-top: 32px;text-align: center">
                            <span class="construction_title"> 立即申请定制服务</span>
                        </div>

                        <div style="margin-top: 12px;text-align: center">
                            <span class="construction_desc">在线预约享受更多增值服务</span>
                        </div>


                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction">您的位置</span>
                            <input class="input_name_construction" id="service_user_location" name="user_location" style="outline: none;" placeholder="上海市（区）" />
                        </div>

                        <div class="construction_name" style="margin-top: 6px">
                            <span class="span_name_construction"> 称&emsp;&emsp;呼</span>
                            <input class="input_name_construction" id="service_user_name" name="user_name" style="outline: none;" placeholder="先生/女士" />
                        </div>

                        <div class="construction_name" style="margin-top: 6px">
                            <span class="span_name_construction">手机号码</span>
                            <input class="input_name_construction"
                                   id="service_user_phone"
                                   name="user_phone" style="outline: none;"
                                   placeholder="收取报价短信的手机号码"
                                   maxlength="11"
                                   oninput="value=value.replace(/[^\d]/g,'')"/>
                        </div>

                        <div class="construction_name"  style="margin-top: 10px;">
                            <span class="span_name_construction" style="width: 100px;">想预约的设计师</span>

                            <select class="construction_name_select" name="designerId">
                                <option value="">选择设计师</option>
                                {volist name="teamList" id="item"}
                                <option value="{$item.id}">{$item.name}</option>
                                {/volist}
                            </select>

                            <span style="color: red;font-size: 14px;">选填</span>
                        </div>

                        <div style="cursor:pointer;text-align: center; margin-top: 17px;margin-left: 46px;margin-right: 46px;" onclick="checkService()">
                            <img src="/assets/img/frontend/dingzhi_service_btn.png" style="width: 100%;"/>
                        </div>

                        <div style="text-align: center;margin-top: 2px;">
                            <div class="construction_tip">
                                <span>已有<span style="color: #FF0000;font-size: 15px">{$totalCount}</span>人申请了定制服务</span><br/>

                                {volist name='managerList' id='id' key='key'}
                                     <span>{$id.name}&emsp; {$id.phone} &emsp; 提交预约信息[{$id.time}]</span><br/>
                                {/volist}
                            </div>
                        </div>
                    </div>

                    </form>
                </div>

            </div>
            <span class="popup-close"></span>
        </div>
    </div>

</div>
