
<div id="dialogContent">
    <div class="common-tender-wrapper">
        <div class="common-tender-popup">

            <div class="popup-main">
                <div class="popup-mfbj popup-content clearfix">

                    <div class="popup-content-left mfbj-left-init">
                        <img src="/assets/img/frontend/liaojie_more.png" width="100%" height="100%"/>

                    </div>

                    <form id="liaojie_more">
                        <input hidden name="type" value="liaojie_more">

                        <div class="popup-content-right">

                        <div style="margin-top: 32px;text-align: center">
                            <span class="construction_title"> 了解更多明细</span>
                        </div>

                        <div style="margin-top: 12px;text-align: center">
                            <span class="construction_desc">填写信息以获取更多该项目的详细信息</span>
                        </div>


                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction">您的位置</span>
                            <input class="input_name_construction" id="liaojie_user_location" name="user_location" style="outline: none;" placeholder="上海市（区）" />
                        </div>

                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction"> 称&emsp;&emsp;呼</span>
                            <input class="input_name_construction" id="liajie_user_name" name="user_name" style="outline: none;" placeholder="先生/女士" />
                        </div>

                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction">手机号码</span>
                            <input class="input_name_construction"
                                   id="liaojie_user_phone"
                                   name="user_phone"
                                   style="outline: none;"
                                   maxlength="11"
                                   oninput="value=value.replace(/[^\d]/g,'')"
                                   placeholder="手机号码" />
                        </div>

                        <div style="cursor:pointer; text-align: center; margin-top: 17px;margin-left: 46px;margin-right: 46px;" onclick="checkLiaojieMore()">
                            <img src="/assets/img/frontend/liaojie_more_btn.png" style="width: 100%;"/>
                        </div>

                        <div style="text-align: center;margin-top: 2px;">
                            <div class="construction_tip">
                                <span>已有<span style="color: #FF0000;font-size: 15px">{$totalCount}</span>位了解了更多项目详情</span><br/>

                                {volist name='managerList' id='id' key='key'}
                                    <span>{$id.name}&emsp; {$id.phone} &emsp; 提交预约信息[{$id.time}]</span><br/>
                                {/volist}

                            </div>
                        </div>
                    </div>

                    </form>
                </div>

            </div>
            <span class="popup-close"></span>
        </div>
    </div>

</div>