
<div id="dialogContent">
    <div class="common-tender-wrapper">
        <div class="common-tender-popup">

            <div class="popup-main">
                <div class="popup-mfbj popup-content clearfix">

                    <div class="popup-content-left mfbj-left-init">
                        <img src="/assets/img/frontend/tiyuan_app.png" width="100%" height="100%"/>

                    </div>

                    <div class="popup-content-right">

                        <div style="margin-top: 32px;text-align: center">
                            <span class="construction_title"> 免费体验APP</span>
                        </div>

                        <div class="construction_name" style="margin-top: 24px">
                            <span class="span_name_construction"> 称&emsp;&emsp;呼</span>
                            <input class="input_name_construction" name="user_name" style="outline: none;" placeholder="先生/女士" />
                        </div>

                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction">您的位置</span>
                            <input class="input_name_construction" name="user_location" style="outline: none;" placeholder="上海市（区）" />
                        </div>

                        <div class="construction_name" style="margin-top: 12px">
                            <span class="span_name_construction">联系方式</span>
                            <input class="input_name_construction" name="user_phone" style="outline: none;" placeholder="手机号码" />
                        </div>

                        <div style="text-align: center; margin-top: 17px;margin-left: 46px;margin-right: 46px;">
                            <img src="/assets/img/frontend/tiyuan_app_btn.png" style="width: 100%;"/>
                        </div>

                        <div style="text-align: center;margin-top: 2px;">
                            <div class="construction_tip">
                                <span>已有<span style="color: #FF0000;font-size: 15px">888</span>预约参观工地</span><br/>
                                <span>何**&emsp; 189****9823 提交预约信息[1/89]</span><br/>
                                <span>范**&emsp; 183****2345 提交预约信息[7/89]</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <span class="popup-close"></span>
        </div>
    </div>

</div>
