@font-face {
    font-family: 'iconfont';
    src: url('iconfont/iconfont.eot');
    src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
    url('iconfont/iconfont.woff2') format('woff2'),
    url('iconfont/iconfont.woff') format('woff'),
    url('iconfont/iconfont.ttf') format('truetype'),
    url('iconfont/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.wrapper {
    position: relative;
    left: 50%;
    /*width: var(--wrapper);*/
    height: 800px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.container {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 450px;
    height: 550px;
}

.container .right {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.container .right .top {
    width: 100%;
    height: 47px;
    line-height: 41px;
    padding: 5px 0 5px 15px;
    /*background-color: #eceff1;*/
    background-color: rgb(244, 147, 0);
}

.container .right .top span {

    color: #fff;
}

.container .right .top .logo {
    line-height: 36px;
}

.container .right .top .logo img {
    max-width: 100px;
    max-height: 25px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

.container .right .top span .name {
    font-size: 13px;
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.container .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 0 23px 65px 30px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100% - 48px);
    /*justify-content: flex-end;*/
    flex-direction: column;
}

.container .right .chat.active-chat {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border: 1px #f2f2f2 solid;
    padding-top: 10px;
}

.container .right .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.container .right .chat.active-chat .bubble .picture {
    max-width: 120px;
    max-height: 120px;
}

.downUp {
    position: relative;
    text-align: center;
    cursor: pointer;
    padding-bottom: 30px;
}

a#loading-page {
    text-decoration: none;
    color: darkgray;
    position: absolute;
    margin-left: -40px;
}

.loading {
    text-align: center;
    position: fixed;
    left: 48%;
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-color: #969696 #8c8c8c transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 1s linear infinite;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 14px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: 14px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

/*
.container .right .chat.active-chat .bubble:nth-of-type(1) {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

.container .right .chat.active-chat .bubble:nth-of-type(2) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.container .right .chat.active-chat .bubble:nth-of-type(3) {
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

.container .right .chat.active-chat .bubble:nth-of-type(4) {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.container .right .chat.active-chat .bubble:nth-of-type(5) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}

.container .right .chat.active-chat .bubble:nth-of-type(6) {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.container .right .chat.active-chat .bubble:nth-of-type(7) {
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}

.container .right .chat.active-chat .bubble:nth-of-type(8) {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

.container .right .chat.active-chat .bubble:nth-of-type(9) {
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}

.container .right .chat.active-chat .bubble:nth-of-type(10) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}*/

.container .right .write {
    position: absolute;
    bottom: 20px;
    left: 30px;
    height: 45px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}

.container .right .write .file {
    opacity: 0;
    position: absolute;
    z-index: 10;
    width: 20px;
    margin-left: -20px;
}

.container .right .write input {
    font-size: 14px;
    float: left;
    width: 300px;
    height: 40px;
    padding: 0 10px;
    color: var(--dark);
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.container .right .write .write-link.attach:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("../img/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .write .write-link.smiley:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("../img/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .write .smile {
    position: absolute;
    width: 14.375rem;
    height: 8.375rem;
    padding: .125rem;
    box-shadow: 0 0.125rem 0.625rem 0.125rem rgba(0, 0, 0, .11);
    background-color: #fff;
    z-index: 9;
    visibility: hidden;
    transform: perspective(500px) rotateX(-15deg);
    transform-origin: 50% 0;
    transition: all .15s ease-out;
    display: block;
    bottom: 40px;
    right: 0px;
}

.container .right .write a img {
    width: 100%;
}

.container .right .write .open {
    visibility: visible;
    transform: none;
    display: block;
    bottom: 43px;
    right: 0px;
}

.container .right .write .smile a {
    width: 2rem;
    height: 2rem;
    display: block;
    border: .125rem solid #fff;
    background-color: #f0f0f0;
    padding: .25rem;
    float: left;
}

.container .right .write .write-link.send:before {
    display: inline-block;
    float: left;
    width: 20px;
    height: 42px;
    margin-left: 11px;
    content: '';
    background-image: url("../img/send.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .bubble {
    font-size: 14px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}

.container .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}

.container .right .service-info {
    background-color: #dddddd;
    width: 40%;
    margin: 10px auto;
    position: initial;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
}

.container .right .bubble.you {
    float: left;
    color: var(--white);
    background-color: #f49300;
    align-self: flex-start;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}

.container .right .bubble.you:before {
    left: -3px;
    background-color: #f49300;
}

.container .right .bubble.me {
    float: right;
    color: var(--dark);
    background-color: #eceff1;
    align-self: flex-end;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}

.container .right .bubble.me:before {
    right: -3px;
    background-color: #eceff1;
}

.container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
}

.container .right .conversation-start span:before, .container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: var(--light);
}

.container .right .conversation-start span:before {
    left: 0;
}

.container .right .conversation-start span:after {
    right: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
